/*
 *Name: [Zane Stowe]
 *UnityID: [zmstowe]
 *Date: [11/8/2024]
 *Assignment: [Guided Lab 4]
 *Description: [Guided Lab Assignment, about me webpage]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #DECAFF;
}

.table-border {
    border: 1px solid #DECAFF;
}

#photo-resize {
    max-width:250px;
    max-height: 300px;
}
 